APP_ENV=local
APP_DEBUG=true
APP_URL=http://127.0.0.1:8010

DB_HOST=127.0.0.1
DB_PORT=8889
DB_DATABASE=atypikhouse
DB_USERNAME=root
DB_PASSWORD=root
DB_SOCKET=/Applications/MAMP/tmp/mysql/mysql.sock

GA4_ID=
GTM_ID=

BREVO_API_KEY=
BREVO_LIST_ID=
BREVO_ENABLED=false
